.ui-page.ui-body-c.ui-page {
  background: url('../Hero_img_mobile_01.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

p {
  text-align: center;
  margin-top: 12em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-family: 'Libre Franklin';
  color: white;
  font-size: 3.5em;
  z-index: 1;
}

.ui-content {
  justify-content: center;
}

.ui-btn-hidden {
  position: relative;
  display: inline-block;
  margin: 0.5em 0;
}

.ui-body-c.ui-link:active {
  color: purple;
}

.popup-overlay {
  align-content: center;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.popup-overlay.active {
  visibility: visible;
}

.popup-content {
  visibility: hidden;
}

.popup-content.active {
  visibility: visible;
  justify-content: center;
  position: relative;
  width: 50em;
  margin-top: 0.4em;
  margin-left: 5em;
  z-index: 1;
}

.openBtn.ui-link {
  text-align: center;
  position: absolute;
  top: 50%;
  margin-left: 3.5em;
  margin-top: 5em;
  z-index: 1;
  padding: 0.5em 0em;
  background-color: lightgrey;
  color: black;
  width: 10em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Libre Franklin';
  font-size: 3.5em;
}
